/* Carousel Styles */
.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
  
.carousel img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}
  
.carousel img:hover {
  transform: scale(1.05);
}
  
button.prev,
button.next {
  z-index: 1;
}
  
.carousel-container {
  position: relative;
}
  
.carousel .active {
  display: block;
}
  
.carousel img:not(.active) {
  display: none;
}