.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.carousel img {
  flex: 0 0 100%; /* Varje bild tar 100% av karusellens bredd */
  transition: transform 0.5s ease-in-out;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  width: 40px;
  height: 40px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background: #0073e6;
}